:root {
  --white: #FFFFFF;
  --black: #050505;

  --red: #ED0A0F;
  --orange: #C9510A;
  --yellow: #9A6F00;
  --green: #2C8747;
  --mint: #00857F;
  --teal: #038296;
  --cyan: #0080A7;
  --blue: #0074E8;
  --indigo: #6561FA;
  --purple: #C22BDB;
  --pink: #EC0A37;
  --brown: #A06958;

  --bg: var(--white);
  --ink: var(--black);
}

html[data-theme='dark'] {
  --red: #ED0A0F;
  --orange: #C9510A;
  --yellow: #9A6F00;
  --green: #2C8747;
  --mint: #00857F;
  --teal: #038296;
  --cyan: #0080A7;
  --blue: #0074E8;
  --indigo: #6561FA;
  --purple: #C22BDB;
  --pink: #EC0A37;
  --brown: #A06958;

  --bg: var(--black);
}
